[Unit]
Description=Camera/Mic Watcher for Home Assistant

[Service]
ExecStart=/usr/local/bin/micam-watcher/micam-watcher
Restart=always

[Install]
WantedBy=default.target
